.li-container {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}
.li-items-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.time {
  margin-right: 20px;
}
.logo {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}
.button {
  border-style: none;
  height: 30px;
  width: 30px;
  margin-left: 10%;
}
.title {
  margin-right: 50px;
}
.span {
  color: #64748b;
  font-size: 12px;
  font-weight: bold;
  margin-left: 0px;
}
.paragraph {
  color: #64748b;
  font-size: 8px;
  margin-left: 20px;
  margin-top: 15px;
}
.paras-container {
  display: flex;
}
